<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Creation</title>
	<style media="screen">
	.modal-dialog{
		position: relative;
		display: table; //This is important
		overflow-y: auto;
		overflow-x: auto;
		width: auto;
		min-width: 300px;
	}

	.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	td {
		font-size: 80%;
	}

	th {
		font-size: 70%;
	}


	</style>

</head>
<body >
	<div class="container-fluid">

		<div class="alert alert-success" id="success-alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			Account created successfully.
		</div>
		<div class="alert alert-danger" id="failure-alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			Account could not be created.
		</div>
		<div class="alert alert-danger" id="blank-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Please enter account name!
		</div>

		<div class="alert alert-danger" id="nsblank-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Please enter new sub-group name!
		</div>

		<div class="alert alert-danger" id="grpblank-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Please select group name!
		</div>

		<div class="alert alert-danger" id="sgrpblank-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Please select sub-group name!
		</div>

		<div class="alert alert-danger" id="duplicate-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Account already exists!
		</div>

		<div style="padding-top:5px" class="mainbox col-md-6">
			<div class="panel panel-info shadow" >
				<div class="panel-heading">
					<div class="panel-title">Create Account</div>

				</div>

				<div style="padding-top:5px" class="panel-body" >


					<form id="accountform" method="post"  action="addaccount" class="form-horizontal">

						<div style="margin-bottom: 5px" class="col-xs-12 from-group">
							<label for="groupname" id="gname"><u>G</u>roup Name :</label>
							<select class = "form-control gsselect input-sm" id="groupname"  name = "groupname" accesskey="g">
								<option value="" disabled selected hidden>Select Group</option>
								{% for grps in gkresult %}
								<option value="{{grps['groupcode']}}">{{grps["groupname"]}}</option>
								{% endfor %}
							</select>
							<br/>
							<label for="subgroupname" id="sname">Sub-Group <u>N</u>ame :</label>
							<select class = "form-control gsselect input-sm" id="subgroupname" name="subgroupname" accesskey="n">
								<option value="" disabled selected hidden>Select Sub-Group</option>
							</select>
							<br/>
							<div id="nsgp" style="margin-bottom: 25px" class="input-group">
								<label for="newsubgroup" id="newsgrp">New Sub-Gro<u>u</u>p Name :</label>
								<input type="text" id="newsubgroup" class="form-control input-sm" name="newsubgroup" placeholder="New Sub-Group Name" accesskey="u" ></input>
							</div>

							<label> <input type="checkbox" id="maccounts" accesskey="m"> Create <u>M</u>ultiple Accounts</label>
							<br/>
							<label for="accountname" id="accname"><u>A</u>ccount Name :</label>
							<input type="text" id="accountname" class="form-control input-sm" name="accountname" accesskey="a"></input>
							<br/>
							<label for="openbal" id="obal"><u>O</u>pening Balance :</label>
							<input id="openbal" name="openbal" value="0.00" style="text-align:right" class=" form-control input-sm" type="text" placeholder="0.00" accesskey="o"/>
							<br/>
							<button type="submit" class="btn btn-primary btn-sm" id="submit" name="submit" accesskey="s"><u>S</u>ave</button>
							<button id="reset" class="btn btn-danger btn-sm" accesskey="r"><u>R</u>eset</button>

						</div>
					</form>
				</div>
			</div>
		</div>
		<div style="padding-top:5px" class="col-md-6 shadow" id="baltbl">
			<table class="table table-condensed">
				<thead>
					<tr class="success">
						<th>{{baltbl[0]}}</th>
					</tr>
					<tr class="info">
						<th>Group Name</th>
						<th>No. of accounts</th>
						<th>Group Balance</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(1,5) %}
					<tr>
						<td>{{baltbl[i]["groupname"]}}</td>
						<td align="right">{{baltbl[i]["numberofaccounts"]}}</td>
						<td align="right">{{baltbl[i]["groupbalance"]}}</td>
					</tr>
					{% endfor %}
					<tr class="info">
						<th>Total</th>
						<th></th>
						<td align="right"><b>{{baltbl[5]["Total"]}}</b></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-condensed">
				<thead>
					<tr class="success">
						<th >{{baltbl[6]}}</th>
					</tr>
					<tr class="info">
						<th>Group Name</th>
						<th>No. of accounts</th>
						<th>Group Balance</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(7,((baltbl|length)-2)) %}
					<tr>
						<td>{{baltbl[i]["groupname"]}}</td>
						<td align="right">{{baltbl[i]["numberofaccounts"]}}</td>
						<td align="right">{{baltbl[i]["groupbalance"]}}</td>
					</tr>
					{% endfor %}
					<tr class="info">
						<th>Total</th>
						<th></th>
						<td align="right"><b>{{baltbl[((baltbl|length)-2)]["Total"]}}</b></td>
					</tr>
					<tr class="info">
						<th>Difference in Total</th>
						<th></th>
						<td align="right"><b>{{baltbl[((baltbl|length)-1)]["Difference in balance"]}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="m_multiacc" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header form-inline">
						<div class="form-group">
							<label for="m_gname">Groupname: </label>
							<input type="text" value="" class="form-control input-sm" name="m_gname" id="m_gname" disabled>
						</div>
						<div class="form-group">
							<label for="m_sgname">Sub-Groupname:</label>
							<input type="text" value="" class="form-control input-sm" name="m_sgname" id="m_sgname" disabled>
						</div>
					</div>
					<div class="modal-body">

					</div>
					<div class="modal-footer">
						<button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">Cancel</button>
						<button type="button" id="prjdel" data-dismiss="modal" class="btn btn-success">Save</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createaccount.js')}}"></script>
</body>
</html>
